<main>
  <section class="form-section">
    <img src="assets/svg/logo.svg" alt="Logo MoveIt" />
    <h2>{{ title() }}</h2>
    <ng-content></ng-content>
    <div class="btn-wrapper">
      <p-button
        class="btn-sign"
        [label]="primaryBtnText()"
        (onClick)="submit()"
        [disabled]="disablePrimaryBtn()"
      >
      </p-button>
      <div class="divider">
        <div></div>
        <span>or</span>
        <div></div>
      </div>
      <p-button
        class="btn-sign"
        [label]="secondaryBtnText()"
        (onClick)="navigate()"
      >
      </p-button>
    </div>
  </section>
  <section class="main-section">
    <h1>You should MoveIt!</h1>
    <img src="assets/svg/main-illustration.svg" alt="Main Page Illustration" />
  </section>
</main>
