@import "../styles/variables.scss";

:host ::ng-deep {
  .p-button {
    width: 100%;
    padding: 1.2rem;
    color: #fff;
    background-color: $primary-color;
    border-radius: 0.8rem;
    font-size: 1.6rem;
    font-weight: 500;
    border: none;
  }

  .p-inputtext {
    border: none;
    width: 100%;
    border-radius: 0.8rem 0 0 0.8rem;
    background-color: $gray-secondary-bg;
    padding: 1.2rem 0 1.2rem 2rem;
    font-size: 1.6rem;

    &::placeholder {
      opacity: 0.5;
    }
  }
}
