<login-layout
  title="Login into your account"
  primaryBtnText="Login now"
  secondaryBtnText="Sign up now"
  [disablePrimaryBtn]="!loginForm.valid"
  (submit)="submit()"
  (navigate)="navigate()"
>
  <form [formGroup]="loginForm">
    <primary-input
      formControlName="email"
      inputName="email"
      label="Email"
      type="email"
      placeholder="johndoe@live.com"
    >
      <img src="assets/svg/email-icon.svg" alt="" />
    </primary-input>
    <primary-input
      formControlName="password"
      inputName="password"
      label="Your Password"
      type="password"
      ><img src="assets/svg/password-icon.svg" alt=""
    /></primary-input>
    <span>Forgot your password?</span>
  </form>
</login-layout>
