@import "ngx-toastr/toastr";
@import "primeicons/primeicons.css";
@import "primeng/resources/themes/bootstrap4-light-purple/theme.css";
@import "primeng/resources/primeng.css";

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
}

html,
body {
  height: 100%;
}
